version: '3.8'

services:
  server:
    build:
      context: .
      dockerfile: server/Dockerfile
    expose:
      - "8080"
    restart: always
    environment:
      - PORT=8080
      - DATABASE_URL=${DATABASE_URL}
      - BETTER_AUTH_SECRET=${BETTER_AUTH_SECRET}
      - BETTER_AUTH_URL=${ORIGIN}
      - INTERNAL_SECRET=${INTERNAL_SECRET}
    labels:
      - traefik.enable=true
      - traefik.http.routers.server.rule=Host(`tunnel.pa.rpaby.pw`)
      - traefik.http.routers.server.entrypoints=websecure
      - traefik.http.routers.server.tls=true
      - traefik.http.routers.server.tls.certresolver=letsencrypt
      - traefik.http.services.server.loadbalancer.server.port=8080

  web:
    build:
      context: .
      dockerfile: web/Dockerfile
    expose:
      - "3000"
    restart: always
    environment:
      - ORIGIN=${ORIGIN}
      - PUBLIC_API_URL=${PUBLIC_API_URL}
      - DATABASE_URL=${DATABASE_URL}
      - BETTER_AUTH_SECRET=${BETTER_AUTH_SECRET}
      - BETTER_AUTH_URL=${ORIGIN}
      - INTERNAL_SECRET=${INTERNAL_SECRET}
    labels:
      - traefik.enable=true
      - traefik.http.routers.web.rule=Host(`app.pa.rpaby.pw`)
      - traefik.http.routers.web.entrypoints=websecure
      - traefik.http.routers.web.tls=true
      - traefik.http.routers.web.tls.certresolver=letsencrypt
      - traefik.http.services.web.loadbalancer.server.port=3000
